<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .wrap {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="login">
        <form action="/search" method="get">
          <input type="search" name="data" placeholder="검색어를 입력하세요" />
          <button type="submit">검색하기</button>
        </form>
      </div>
    </div>
  </body>
</html>
